<% data.posts.forEach(i => { %>
<div class="cards">
    <div class="cimage">
        <img src="/images/cars_image1.png" alt="">
    </div>
    <div class="cbody">
        <div class="text1"><%= i.name %></div>
        <div class="text2">Rp <%= i.price %> / hari</div>
        <div class="text3"><i class='bx bx-key'></i> <%= i.start_rent %> - <%= i.finish_rent %></div>
        <div class="text3"><i class='bx bx-time-five'></i> Updated at <%= i.updatedAt %></div>
    </div>
    <div class="cbutton">
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                class='bx bx-trash'></i> Delete</button>
        <a href="/editcar">
            <button class="btn btn-success"><i class='bx bx-edit'></i> Edit</button>
        </a>
    </div>
</div>
<% }) %>


<script>
    let b = "coba aja dah";
    console.log(b);
</script>